<h1>Confirm Reservation</h1>

<p>Room: {{reservation.room}}</p>
<p>User: {{reservation.user}}</p>
<p>Check-in Date: {{reservation.checkInDate}}</p>
<p>Check-out Date: {{reservation.checkOutDate}}</p>
<p>Total Price: {{reservation.totalPrice}}</p>
<form action="/reservation/confirmReservation" method="post">
  <button type="submit">Confirm Reservation</button>

