<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Bee House Admin Page</h3>
                    <h6 class="font-weight-normal mb-0">You are admin! you can manage all system</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
                <div class="card-people mt-auto">
                    <img src="images/dashboard/people.svg" alt="people">
                    <div class="weather-info">
                        <div class="d-flex">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin transparent">
            <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Room Available</p>
                            <p class="fs-30 mb-2">{{roomList.length}}</p>
                            <p>room available</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Total Bookings</p>
                            <p class="fs-30 mb-2">{{reservationList.length}} </p>
                            <p>reservations</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                    <div class="card card-light-blue">
                        <div class="card-body">
                            <p class="mb-4">Total Contacts</p>
                            <p class="fs-30 mb-2">{{contactList.length}}</p>
                            <p>customers left messages</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                    <div class="card card-light-danger">
                        <div class="card-body">
                            <p class="mb-4">Cancel Bookings</p>
                            <p class="fs-30 mb-2">{{cancelReservation.length}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title mb-0">Reservation</p>
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless">
                            <thead>
                                <tr>
                                    <th>Room</th>
                                    <th>User Name</th>
                                    <th>Check-In Date</th>
                                    <th>Check-Out Date</th>
                                    <th>Total Price</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each reservationList }}
                                <tr>
                                    <td>{{ room.roomNumber }}</td>
                                    <td>{{ user.username }}</td>
                                    <td>{{ formatDate this.checkInDate}}</td>
                                    <td>{{ formatDate this.checkOutDate }}</td>
                                    <td> {{ totalPrice }} VNĐ</td>
                                    {{!-- <td class="font-weight-medium">
                                        <div class="badge badge-danger">Cancelled</div>
                                    </td>
                                    <td class="font-weight-medium">
                                        <div class="badge badge-warning">Pending</div>
                                    </td> --}}
                                    <td class="font-weight-medium">{{#if (eq status "Pending")}}
                                        <div class="badge badge-warning">Pending</div>
                                        {{else if (eq status "Confirm")}}
                                        <div class="badge badge-success">Confirm</div>
                                        {{else if (eq status "Cancel")}}
                                        <div class="badge badge-danger">Cancel</div>
                                        {{/if}}
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>