<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BEE HOUSE</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://th.bing.com/th/id/R.1441d6d3e58399059f5f1a5c53907f28?rik=iR9xamd2cndu9g&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fbcy%2fLKK%2fbcyLKKzoi.png&ehk=vizelrsXHq1%2fbD9lMlRyCEaHjAISx%2bDTfrZQelLfzwo%3d&risl=&pid=ImgRaw&r=0" rel="icon">
  <link href="https://th.bing.com/th/id/R.1441d6d3e58399059f5f1a5c53907f28?rik=iR9xamd2cndu9g&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fbcy%2fLKK%2fbcyLKKzoi.png&ehk=vizelrsXHq1%2fbD9lMlRyCEaHjAISx%2bDTfrZQelLfzwo%3d&risl=&pid=ImgRaw&r=0" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a class="navbar-brand" href="/">
          <img
            src="https://th.bing.com/th/id/R.1441d6d3e58399059f5f1a5c53907f28?rik=iR9xamd2cndu9g&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fbcy%2fLKK%2fbcyLKKzoi.png&ehk=vizelrsXHq1%2fbD9lMlRyCEaHjAISx%2bDTfrZQelLfzwo%3d&risl=&pid=ImgRaw&r=0"
            height="30" alt="" loading="lazy" /> Bee House</a></h1>
            
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Rooms</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          {{#if username}}
            <li><a class="getstarted scrollto" href="/auth/logout">LOGOUT ({{ username }})</a></li>
          {{else}}
            <li><a class="getstarted scrollto" href="/auth/login">LOGIN</a></li>
          {{/if}}
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>Bee House make your trip better</h1>
          <h2>Bee House will accompany you on your beautiful trips to Ha Giang</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img
            src="/images/Homepage.jpg"
            class="img-fluid animated" alt="" style="border-radius: 45%;">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Bee House là một trong những khách sạn tốt nhất tại Hà Giang. Với đội ngũ nhân viên nhiệt tình, chuyên
              nghiệp,
              chúng tôi sẽ mang đến cho bạn những trải nghiệm tuyệt vời nhất khi đến với Hà Giang.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Đầy đủ tiện nghi</li>
              <li><i class="ri-check-double-line"></i> Được khách hàng đánh giá rất cao </li>
              <li><i class="ri-check-double-line"></i> Chủ trẻ trung nhiệt tình chu đáo </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Chúng tôi luôn cố gắng hết mình để mang đến cho bạn những trải nghiệm tuyệt vời nhất khi đến với Hà Giang.
              Đến với Bee House, bạn sẽ được trải nghiệm những dịch vụ tốt nhất, những trải nghiệm tuyệt vời nhất.
            </p>
            <a href="#contact" class="btn-learn-more">Contact Us</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Đến với Bee House bạn sẽ được trải nghiệm dịch vụ độc đáo đầy bản sắc dân tộc người Hà Giang mà chỉ Bee
            House mới có </p>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-food-menu"></i></div>
              <h4><a href="">Ăn Uống</a></h4>
              <p>Trải nghiệm ăn những món đặc sản Hà Giang ngay trong khuân viên của Bee House</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
            data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-bed"></i></div>
              <h4><a href="">Phòng Ngủ</a></h4>
              <p>Có nhiều loại phòng từ phòng đôi, phòng đơn phòng gia đình và phòng tập thể...</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
            data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-store"></i></div>
              <h4><a href="">Gần trung tâm</a></h4>
              <p>Do gần trung tâm nên rất nhiều dịch vụ như tạp hóa 24/7, Giặt là lấy ngay...</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
            data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-bus"></i></div>
              <h4><a href="">Dịch vụ đưa đón khách</a></h4>
              <p>Hỗ trợ đưa đón khách du lịch thăm quan các điểm du lịch nổi tiếng và có taxi đưa đón khách.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Portfolio Section// Room ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Room</h2>
          <p>Phòng nghỉ tại Bee House cho bạn thỏa mái lựa chọn </p>
        </div>



        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {{#each roomList}}
          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><a href="/room/detail/{{_id}}">
                <img class="card-img-top " src="{{image}}" width="300" height="300" class="img-fluid" alt="">
              </a></div>
            <div class="portfolio-info">
              <h3 class="text-primary">{{name}}</h3>
              <p>Type: {{typeRoom.name}}</p>
              <p>Number: {{roomNumber}}</p>
              <h4 class="text-danger">Price: {{pricePerNight}} VNĐ</h4>
              <a class="btn btn-primary" href="/reservation/add?roomId={{_id}}">Book Now</a>
            </div>
          </div>
          {{/each}}


        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
            consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
            in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Group 6 Street, Dong Van, Ha Giang, Viet Nam</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>Truongsot@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+84 03999588801</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d260.85797104202527!2d105.36344976572646!3d23.277333256724443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x36cbe76ca77fc617%3A0x6bb5af94e5a8f79f!2sBee%20Mart!5e0!3m2!1svi!2s!4v1709912154722!5m2!1svi!2s"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/contact" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="numberphone">Phone Number:</label><br>
                <input type="text" id="numberphone" class="form-control" name="numberphone" required><br>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="3" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" value="Submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Pham Manh Truong</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Designed by <a href="https://bootstrapmade.com/">Bee House</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>