<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="/admin"><img
                        src="https://th.bing.com/th/id/R.1441d6d3e58399059f5f1a5c53907f28?rik=iR9xamd2cndu9g&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fbcy%2fLKK%2fbcyLKKzoi.png&ehk=vizelrsXHq1%2fbD9lMlRyCEaHjAISx%2bDTfrZQelLfzwo%3d&risl=&pid=ImgRaw&r=0"
                        class="mr-2" alt="logo" />Bee House</a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="https://th.bing.com/th/id/R.1441d6d3e58399059f5f1a5c53907f28?rik=iR9xamd2cndu9g&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fbcy%2fLKK%2fbcyLKKzoi.png&ehk=vizelrsXHq1%2fbD9lMlRyCEaHjAISx%2bDTfrZQelLfzwo%3d&risl=&pid=ImgRaw&r=0"
                                alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="/auth/logout">
                                <i class="ti-power-off text-primary" href=""></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->


            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/manageRoom">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Manage Room</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/manageTypeRoom">
                            <i class="icon-contract menu-icon"></i>
                            <span class="menu-title">Manage Type Room</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/manageReservation">
                            <i class="icon-paper menu-icon"></i>
                            <span class="menu-title">Manage Reservation</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/manageContact">
                            <i class="icon-head menu-icon"></i>
                            <span class="menu-title">Contact List</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">

                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center m-2">
                                    <p class="card-title mb-2 text-success" style="font-size:xx-large">Manage Type Room</p>
                                    <a class="badge badge-success m-2 " style="font-size:medium" href="/room/add">Add
                                        new Type</a>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-borderless">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Description</th>
                                                <th style="text-align: center;">Menu</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each typeRoomList }}
                                            <tr>
                                                <td>
                                                    <a href="/typeRoom/detail/{{_id}}">
                                                        {{ name }}
                                                    </a>
                                                </td>
                                                <td>{{ description }}</td>
                                                <td style="text-align: center;">
                                                    <a class="badge badge-warning" href="/typeRoom/edit/{{_id}}">Edit</a>
                                                    <a class="badge badge-danger" href="/typeRoom/delete/{{_id}}"
                                                        onclick="return confirm('Do you want to delete this TypeRoom ?')"
                                                        ;>Delete</a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/template.js"></script>
    <script src="../../js/settings.js"></script>
    <script src="../../js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
</body>

</html>