<form action="" method="post">
  <h1>Edit Room</h1>
  Name: <input type="text" name="name" required value="{{ room.name }}">
  <br><br>
  Number: <input type="text" name="roomNumber" id="" required value="{{room.roomNumber}}">
  <br><br>
  Type Room:
  <select name="typeRoom" id="" value="{{room.typeRoom}}">
    {{#each typeRoomList }}
    <option value="{{_id}}">
      {{ name }}
    </option>
    {{/each}}
  </select>
  <br><br>
  Price: <input type="text" name="pricePerNight" required value="{{ room.pricePerNight }}">
  <br><br>
  Description: <input type="text" name="description" required min="0" value="{{ room.description }}">
  <br><br>
  Available:
  <label>
    <input type="radio" name="availability" value="false" {{#if room.availability}} {{else}} checked {{/if}}> False
  </label>
  <label>
    <input type="radio" name="availability" value="true" {{#if room.availability}} checked {{/if}}> True
  </label>
  <br><br>
  Image: <input type="url" name="image" required value="{{ room.image }}">
  <br><br>

  <img src="{{ room.image }}" alt="" width="120" height="120">
  <br><br>
  <input class="btn btn-success" type="submit" value="Edit">
  <a class="btn btn-warning" href="/room">Cancel</a>
</form>