

<!DOCTYPE html>
<html>

<head>
      <title>Bee House System</title>
      <link rel="icon"
            href="https://th.bing.com/th/id/R.1441d6d3e58399059f5f1a5c53907f28?rik=iR9xamd2cndu9g&riu=http%3a%2f%2fwww.clipartbest.com%2fcliparts%2fbcy%2fLKK%2fbcyLKKzoi.png&ehk=vizelrsXHq1%2fbD9lMlRyCEaHjAISx%2bDTfrZQelLfzwo%3d&risl=&pid=ImgRaw&r=0">
        <style>
            body {
                padding: 50px;
            }
        </style>
</head>

<body>
     <div class="container border">
    <div class="row p-4 mt-3 mb-3 text-center">
        <div class="col">
            <img src="{{room.image}}" width="350" height="350">
        </div>
        <div class="col">
            <H1 class="text-danger">{{room.name}}</H1>
            <h4 class="text-warning">Room: {{room.roomNumber}}</h4>
            <h4 class="text-warning">Type: {{room.typeRoom.name}}</h4>
            <h4 class="text-warning">Description: {{room.description}}</h4>
            <h4 class="text-success">Price: {{room.pricePerNight}}VNĐ</h4>
            <a class="btn btn-primary" href="/reservation/add?roomId={{room._id}}">Book Now</a>
        </div>
    </div>
</div>

</body>

</html>