<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="text-center m-2">
                    <p class="card-title mb-2 text-success" style="font-size:xx-large">Manage Room</p>
                    <a class="badge badge-success m-2 " style="font-size:medium" href="/room/add">Add new Room</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>Room Number</th>
                                <th>Room Name</th>
                                <th>Type</th>
                                <th>Price</th>
                                <th>image</th>
                                <th>Description</th>
                                <th>Availability</th>
                                <th style="text-align: center;">Menu</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each roomList }}
                            <tr>
                                <td>{{ roomNumber }}</td>
                                <td>{{ name }}</td>
                                <td>{{ typeRoom.name }}</td>
                                <td>{{ pricePerNight }} VNĐ</td>
                                <td>
                                    <img src="{{ image }}" width="100" height="100">
                                </td>
                                <td>{{ description }}</td>
                                <td>{{#if availability}}Available{{else}}Unavailable{{/if}}</td>
                                <td style="text-align: center;">
                                    <a class="badge badge-warning" href="/room/edit/{{ _id }}">Edit</a>
                                    <a class="badge badge-danger" href="/room/delete/{{_id}}"
                                        onclick="return confirm('Do you want to delete this room ?')" ;>Delete</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>